{% extends "admin/layout_admin.njk" %}

{% block head %}
    <title>Criar nova receita - Foodfy</title>
    <link rel="stylesheet" href="/stylefoodfy.css">
{% endblock head %}


{% block content %}
<main>
    <form class = "recipeCreate" method = "POST" action = "/admin/recipes">
        <section class="recipesPage">
            <div class = "recipeHead">
                <span>Criando receita</span>
                <span><button type = "submit">Salvar receita</button></span>
            </div>
            {% include 'admin/fields.njk' %}
        </section>
    </form>
</main>
{% endblock content %}
