{% extends "layout.njk" %}

{% block head %}
    <title>Criar nova receita - Foodfy</title>
    <link rel="stylesheet" href="/stylefoodfy.css">
{% endblock head %}

{% block header %}
<header class = "admin">
    <nav class="links">
        <a href="/" >
            <div class="logo">
                <img src="/logo_branco.png" 
                alt="logofoodfy" > 
            </div>
        </a>
    </nav>    
</header>
{% endblock header %}

{% block content %}
<main>
    <form class = "recipeCreate" method = "POST" action = "/admin/recipes">
        <section class="recipesPage">
            <div class = "recipeHead">
                <span>Criando receita</span>
                <span><button type = "submit">Salvar receita</button></span>
            </div>
            <div class = "item" id = "recipe_Image">
                <div>Imagem da receita</div>
                <div>    
                    <input
                        type = "url"
                        name = "image"
                        placeholder = "http://"
                    >
                </div>
            </div>
            <div class = "item" id="ingredients">
                <div>Ingredientes</div>
                <div class="ingredient">
                    <input 
                        type="text"
                        name="ingredients[]" 
                        value="" 
                        placeholder="Ingrediente" 
                    >
                </div>
                <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
            </div>
            <div class = "item" id="steps">
                <div>Modo de preparo</div>
                <div class="steps">
                    <input 
                        type="text"
                        name="steps[]" 
                        value="" 
                    >
                </div>
                <button type="button" class="add-steps">Adicionar novo passo</button>
            </div>
            <div class = "item" id = "information">
                <div>Infomações adicionais</div>
                <div>    
                    <input
                        type = "text"
                        name = "information"
                    >
            
                </div>
            </div>
        </section>
    </form>
</main>
{% endblock content %}
